config/config.local.ini
config/local/config.local.ini
ui/node_modules
node_modules/*
public/*
vendor/*
.DS_Store
composer.phar
/.php-cs-fixer.cache
logs/*
!/logs/index.php
assets/logs/*
!/assets/logs/index.php
tmp/*
!/tmp/index.php
/.phpunit.cache
