<include href="templates/parts/headerAdmin.html" />
<div id="wrap">
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/popups/applyRulesSetPopup.html" />
        <include href="templates/parts/forms/globalSearchForm.html" />
        <include href="templates/parts/systemNotification.html" />
        <include href="templates/parts/welcomeMessage.html" />
        <include href="templates/parts/notification.html" />
        <div class="columns">
            <div class="column rules-page">
                <check if="{{ @IS_OWNER }}">
                    <repeat group="{{ @API_KEYS }}" value="{{ @API_KEY }}">
                            <include href="templates/parts/forms/thresholdValuesForm.html"
                                with="apiKeyId={{ @API_KEY.id }},blacklistThreshold={{ @API_KEY.blacklist_threshold }},reviewQueueThreshold={{ @API_KEY.review_queue_threshold }}"/>
                    </repeat>
                </check>
            </div>
        </div>
        <include href="templates/parts/tables/rules.html" />
        <div class="columns">
            <div class="column rules-page">
                <check if="{{ @IS_OWNER }}">
                    <repeat group="{{ @API_KEYS }}" value="{{ @API_KEY }}">
                            <include href="templates/parts/forms/rulesPresetesForm.html" with="apiKeyId={{ @API_KEY.id }}"/>
                    </repeat>
                </check>
            </div>
        </div>
    </div>
</div>
<include href="templates/parts/footerAdmin.html" />
