<table class="table-tile content">
    <tr>
        <td class="table-card" id="user-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @AdminUser_widgets_id }}<p class="tooltip-info  tooltip" title="{{ @AdminUser_widgets_id_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="user-id-tile">
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_user_registered_tooltip }}">{{ @Base_table_column_user_registered }}</span>
                    <span class="detailsTileValue" id="signup-date"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_lastseen_tooltip }}">{{ @Base_table_column_lastseen }}</span>
                    <span class="detailsTileValue" id="lastseen"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_latest_decision_tooltip }}">{{ @Base_table_column_latest_decision }}</span>
                    <span class="detailsTileValue" id="latest-decision"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_reviewed_status_tooltip }}">{{ @Base_table_column_reviewed_status }}</span>
                    <span class="detailsTileValue" id="review-status"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_user_firstname_tooltip }}">{{ @Base_table_column_user_firstname }}</span>
                    <span class="detailsTileValue" id="firstname"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_user_lastname_tooltip }}">{{ @Base_table_column_user_lastname }}</span>
                    <span class="detailsTileValue" id="lastname"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_userid_tooltip }}">{{ @Base_table_column_userid }}</span>
                    <span class="detailsTileValue" id="userid"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>
        </td>

        <td class="table-card" id="total-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @AdminUser_widgets_totals_warning }}<p class="tooltip-info tooltip" title="{{ @AdminUser_widgets_totals_warning_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="user-total-tile">
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_ips_tooltip }}">{{ @Base_table_column_total_ips }}</span>
                    <span class="detailsTileValue" id="ips"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_isps_tooltip }}">{{ @Base_table_column_total_isps }}</span>
                    <span class="detailsTileValue" id="isps"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_countries_tooltip }}">{{ @Base_table_column_total_countries }}</span>
                    <span class="detailsTileValue" id="countries"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_user_agents_tooltip }}">{{ @Base_table_column_total_user_agents }}</span>
                    <span class="detailsTileValue" id="user-agents"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_edits_tooltip }}">{{ @Base_table_column_total_edits }}</span>
                    <span class="detailsTileValue" id="edits"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_events_tooltip }}">{{ @Base_table_column_total_events }}</span>
                    <span class="detailsTileValue" id="events"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_total_sessions_tooltip }}">{{ @Base_table_column_total_sessions }}</span>
                    <span class="detailsTileValue" id="sessions"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>
        </td>

        <td class="table-card" id="user-behaviour-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @UserDetails_week_card_title }}<p class="tooltip-info tooltip" title="{{ @UserDetails_week_card_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="user-behaviour-tile">
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_session_count_tooltip }}">{{ @UserDetails_session_count }}</span>
                    <span class="detailsTileValue" id="session-count"><span class="loading-background">&#8943;</span></span>
                </div>

                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_avg_event_count_tooltip }}">{{ @UserDetails_avg_event_count }}</span>
                    <span class="detailsTileValue" id="avg-event-count"><span class="loading-background">&#8943;</span></span>
                </div>

                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_auth_error_count_tooltip }}">{{ @UserDetails_auth_error_count }}</span>
                    <span class="detailsTileValue" id="auth-error-count"><span class="loading-background">&#8943;</span></span>
                </div>

                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_off_hours_login_count_tooltip }}">{{ @UserDetails_off_hours_login_count }}</span>
                    <span class="detailsTileValue" id="off-hours-login-count"><span class="loading-background">&#8943;</span></span>
                </div>

                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_login_attempts_tooltip }}">{{ @UserDetails_login_attempts }}</span>
                    <span class="detailsTileValue" id="login-count"><span class="loading-background">&#8943;</span></span>
                </div>

                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_failed_login_count_tooltip }}">{{ @UserDetails_failed_login_count }}</span>
                    <span class="detailsTileValue" id="failed-login-count"><span class="loading-background">&#8943;</span></span>
                </div>

                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_password_reset_count_tooltip }}">{{ @UserDetails_password_reset_count }}</span>
                    <span class="detailsTileValue" id="password-reset-count"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>
        </td>

        <td class="table-card" id="ip-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @AdminUser_widgets_ips_warning }}<p class="tooltip-info tooltip" title="{{ @AdminUser_widgets_ips_warning_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="user-ip-tile">
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_datacenter_tooltip }}">{{ @Base_table_column_ip_datacenter }}</span>
                    <span class="detailsTileValue" id="datacenter"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_vpn_tooltip }}">{{ @Base_table_column_ip_vpn }}</span>
                    <span class="detailsTileValue" id="vpn"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_tor_tooltip }}">{{ @Base_table_column_ip_tor }}</span>
                    <span class="detailsTileValue" id="tor"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_apple_relay_tooltip }}">{{ @Base_table_column_ip_apple_relay }}</span>
                    <span class="detailsTileValue" id="apple-relay"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_shared_tooltip }}">{{ @Base_table_column_ip_shared }}</span>
                    <span class="detailsTileValue" id="ip-shared"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_spamlist_tooltip }}">{{ @Base_table_column_ip_spamlist }}</span>
                    <span class="detailsTileValue" id="spam-list"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="item-details">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_ip_blacklist_tooltip }}">{{ @Base_table_column_ip_blacklist }}</span>
                    <span class="detailsTileValue" id="blacklisted"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>
        </td>
    </tr>
</table>
