<div id="device-type-selectors" class="settings-page choices-selector">
    <div class="field">
        <div class="control">
            <div class="selector">
                <select class="input" name="version" multiple>
                    <option placeholder disabled>{{ @AdminEvents_device_type_search_placeholder }}</option>
                    <repeat group="{{ @DEVICE_TYPES }}" value="{{ @value }}">
                        <option value="{{ @value }}">{{ @value }}</option>
                    </repeat>
                </select>
            </div>
        </div>
    </div>
</div>
