<div id="rule-selectors" class="settings-page choices-selector">
    <div class="field">
        <div class="control">
            <div class="selector">
                <select class="input" name="version" multiple>
                    <option placeholder disabled>{{ @AdminUsers_rules_search_placeholder }}</option>
                    <repeat group="{{ @RULES }}" value="{{ @record }}">
                        <option value="{{ @record['uid'] }}" {{ isset(@DEFAULT_RULE) && @DEFAULT_RULE === @record['uid'] ? 'selected' : '' }}
                            >{{ @record['uid'] }}|{{ \EndoGuard\Utils\Assets\RulesClasses::getRuleClass(@record['value'], @record['broken']) }}|{{ @record['name'] }}</option>
                    </repeat>
                </select>
            </div>
        </div>
    </div>
</div>
