<div class="details-card is-hidden" id="apply-rules-set-popup">
    <header class="card-header">
        <p class="card-header-title">
            {{ @AdminRules_apply_rules_preset_warning_header }}<button class="delete"></button>
        </p>
    </header>

    <div class="content is-hidden">
        <p class="level-left">{{ @AdminRules_apply_rules_preset_warning_message }}</p>
    </div>

    <footer class="pop-up-footer">
        <div class="control">
            <button class="button is-danger" id="confirm-apply-rules-set-button">{{ @AdminRules_submit_apply_rules_preset_button }}</button>
        </div>
    </footer>
</div>
