<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta name="referrer" content="no-referrer">
    <title>{{ @PAGE_TITLE }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ @BASE }}/ui/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/ui/css/admin.all.css?dc={{time()}}" />
    <check if="(isset(@EXTRA_CSS) && @EXTRA_CSS)">
        <link rel="stylesheet" type="text/css" href="{{ @BASE }}{{ @EXTRA_CSS }}?dc={{time()}}" />
    </check>

    <check if="(isset(@LOAD_DATATABLE) && @LOAD_DATATABLE) || (isset(@LOAD_JVECTORMAP) && @LOAD_JVECTORMAP) || (isset(@LOAD_AUTOCOMPLETE) && @LOAD_AUTOCOMPLETE)">
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/jquery-3.6.0/jquery.min.js"></script>
    </check>

    <check if="isset(@LOAD_DATATABLE) && @LOAD_DATATABLE">
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/datatables-2.3.2/dataTables.min.js"></script>
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/tooltipster-master-4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    </check>

    <check if="isset(@LOAD_JVECTORMAP) && @LOAD_JVECTORMAP">
        {** https://stackoverflow.com/a/50474341 **}
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/jvectormap-2.0.5/jquery-jvectormap-2.0.5.min.js"></script>
        {** https://stackoverflow.com/a/58270601 **}
        <script src="{{ @BASE }}/ui/js/vendor/jvectormap-2.0.5/jquery-jvectormap-world-mill-en.js"></script>
    </check>

    <check if="isset(@LOAD_UPLOT) && @LOAD_UPLOT">
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/uPlot-1.6.18/uPlot.iife.min.js"></script>
    </check>

    <check if="isset(@LOAD_ACCEPT_LANGUAGE_PARSER) && @LOAD_ACCEPT_LANGUAGE_PARSER">
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/accept-language-parser-1.5.0/index.js"></script>
    </check>

    <check if="isset(@LOAD_AUTOCOMPLETE) && @LOAD_AUTOCOMPLETE">
        <script type="text/javascript" src="{{ @BASE }}/ui/js/vendor/devbridge-jquery-autocomplete-1.5.0/jquery.autocomplete.min.js"></script>
    </check>

    <check if="isset(@LOAD_CHOICES) && @LOAD_CHOICES">
        <script src="{{ @BASE }}/ui/js/vendor/choices-10.2.0/choices.min.js"></script>
    </check>

    <check if="isset(@JS)">
        <true>
            <script>window.app_base = "{{ @BASE }}"</script>
            <script type="module" src="{{ @BASE }}/ui/js/endpoints/{{@JS}}?dc={{time()}}"></script>
        </true>
    </check>

    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="notranslate">
    <meta name="generator" content="FrontPage 4.0">
    <meta name="csrf-token" content="{{ @CSRF }}">
</head>

<body>
