<check if="{{ isset(@showChart) && 1 === @showChart }}">
    <div class="main-graph separate-graph">
        <div class="stat-chart"></div>
    </div>
</check>


<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @AdminFieldAuditTrail_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @AdminFieldAuditTrail_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
        </div>
    </header>

    <div class="card-table">
        <div class="content">
            <table class="table dim-table" id="field-audit-trail-table">
                <thead>
                    <tr>
                        <check if="{{ !isset(@USER) }}">
                            <true>
                                <th class="tooltip field-audit-trail-user-field-col" title="{{ @AdminFieldAuditTrail_table_column_audit_trail_user_tooltip }}">{{ @AdminFieldAuditTrail_table_column_audit_user }}</th>
                            </true>
                            <false>
                                <th class="tooltip field-audit-trail-user-field-col" title="{{ @AdminFieldAuditTrail_table_column_audit_trail_field_tooltip }}">{{ @AdminFieldAuditTrail_table_column_audit_trail_field }}</th>
                            </false>
                        </check>
                        <th class="tooltip field-audit-trail-user-date-col" title="{{ @AdminFieldAuditTrail_table_column_audit_trail_created_tooltip }}">{{ @AdminFieldAuditTrail_table_column_audit_trail_created }}</th>
                        <th class="tooltip field-audit-trail-user-value-col" title="{{ @AdminFieldAuditTrail_table_column_audit_trail_new_value_tooltip }}">{{ @AdminFieldAuditTrail_table_column_audit_trail_new_value }}</th>
                        <th class="tooltip field-audit-trail-user-value-col" title="{{ @AdminFieldAuditTrail_table_column_audit_trail_old_value_tooltip }}">{{ @AdminFieldAuditTrail_table_column_audit_trail_old_value }}</th>
                        <th class="tooltip field-audit-trail-user-parent-col" title="{{ @AdminFieldAuditTrail_table_column_audit_trail_parent_tooltip }}">{{ @AdminFieldAuditTrail_table_column_audit_trail_parent }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
